mat-card {
  background-color: #0e1a2b;
  color: white;
}
.wrapper {
  padding-bottom: 50px;
}
label {
  font-size: 1rem;
}
input,
textarea {
  width: 100%;
  padding: 7px;
}
.row {
  padding: 0 15px;
}
.card {
  background-color: #0e1a2b;
}
.textInput {
  /* margin: 0px 30px 0px 7px; */
  background-color: #182c47;
  border: 0;
  color: #c1d1e8;
}
.emailInput {
  /* margin: 0px 10px 0px 10px; */
  background-color: #182c47;
  border: 0;
  color: #c1d1e8;
}
.textareaInput {
  /* margin-top: 10px;
  margin-left: 20px; */
  background-color: #182c47;
  border: 0;
  color: #c1d1e8;
}
.button {
  background-color: #5692e8;
  color: #c1d1e8;
  text-align: end;
  /* margin-top: 10px;
  margin-right: 12px; */
  /* border: 0ch; */
}
.required {
  color: #5692e8;
}
.header {
  color: #c1d1e8;
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 0;
}
::ng-deep.mat-card-header {
  font-size: 1.5rem;
}
::ng-deep.mat-card-header-text {
  margin: 7px !important;
}

@media screen and (max-width: 426px) {
  .name-div {
    padding-bottom: 20px;
  }
  .email-div {
    margin-top: 15px;
  }
}
@media screen and (min-width: 426px) {
  .wrapper {
    padding-bottom: 100px;
  }
}
