<main class="maincss">
  <mat-toolbar class="navcolor">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tabs">
        <span class="spacer"><a [routerLink]="['/']" [routerLinkActive]="'selected'"
            [routerLinkActiveOptions]="{exact: true}">VIDEO GAMES</a></span>
      </div><br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tabs">
        <span class="spacer"><a [routerLink]="['/contactus']" [routerLinkActive]="'selected'"
            [routerLinkActiveOptions]="{exact: true}">CONTACT</a></span>
      </div>
    </div>
  </mat-toolbar>
</main>
