<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="filters col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <mat-card>
        <mat-card-title>Filter Results</mat-card-title>
        <br>
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="name">Name (contains)</label><br>
              <input type="search" (keyup)="onApplyFilter()" [(ngModel)]="name" name="name"
                placeholder="Text string"><br>
            </div>
          </div><br>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
              <label for="rating">Minimum Score</label>
              <input type="search" (keyup)="onApplyFilter()" [(ngModel)]="rating" name="rating" placeholder="10"><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-12">
              <label for="rating">Order By</label><br>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                <i class="fa col-xs-2 col-sm-2 col-md-2 col-lg-2 sorting-arrow"
                  [ngClass]="{'fa-arrow-up': ascending, 'fa-arrow-down': !ascending}" (click)="onTypeSort()"></i>
                <mat-select class="col-xs-10 col-sm-10 col-md-10 col-lg-10" [(ngModel)]="selectedSort"
                  (selectionChange)="onSort()">
                  <mat-option value="first_release_date">
                    Release Date
                  </mat-option>
                  <mat-option value="rating">
                    Score
                  </mat-option>
                  <mat-option value="name">
                    Name
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-12">
              <div style="text-align: end;">
                <button class="btn button" type="button" (click)="onClear()">Clear</button>
              </div>
            </div>
          </div>
          <br>
          <br>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-9">
      <div class="loader" *ngIf="isLoading"></div>
      <mat-card *ngFor="let data of filteredData" matBadge="{{data.rating | number: '2.0-0'}}">
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle>Release Date: {{data.first_release_date | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        <mat-card-content>{{data.summary}}</mat-card-content>
      </mat-card>

      <p *ngIf="!isLoading && filteredData.length === 0" style="margin : 150px 200px">No video games found matching the
        criteria.</p>
    </div>
  </div>
</div>
