/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Roboto:wght@400;700&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #010305;
}
